/* ------------------------------------------ HEADER ------------------------------------------- */

html, body {
    overflow-x:hidden;
}

/* ------------------------------------------ HEADER ------------------------------------------- */

header#head div.container div.row {
    width: 40%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    left: 43vw;
}





/* ------------------------------------------ HEADER ------------------------------------------- */

